#login
{
	float:right;
	color:#666;
	position:relative;
}
#login.logged-in .btn
{
	float:left;
}
#login.logged-in .profile
{
	background: url(/assets/TokenW-PNG/Communication+Internet/Contact.png);
}
#login.logged-in .sign-off
{
	background: url(/assets/TokenW-PNG/System+Settings/Power.png);
}
#login div
{
	display:inline;
	margin-right:10px;
}
#login p
{
	float:left;
	position:relative;
}
.js #login p label[for=username],
.js #login p label[for=password]
{
	position:absolute;
	top:1px;
	left:4px;
	color:#ccc;
	text-align:left;
}
#login .remember_me
{
	position:absolute;
	bottom:-25px;
	right:0;
}
#login label[for=remember_me]
{
	font-size:11px;
	line-height:22px;
	text-align:left;
	float:none;
	display:inline;
	margin:0;
	color:#999;
}
#login input[name=remember_me]
{
	margin:0;
}
#login input[type=submit]
{
	width:90px;
}
#login .error
{
	position:absolute;
	top:34px;
	left:0px;
}